page-login {
  .showPass {
    .input-wrapper {position: relative;z-index: 1;}
}
.passwordIcon{
    font-size:2rem !important;
    position: relative;
    top: -5px;
    right:0px;
    color: #555;
    margin:0px !important;
    z-index: 999;
    padding: 5px 10px;
    height: 31px;
    border-bottom: 1px solid #777;
 }
  .scroll-content{
  background:url(../assets/images/background.jpg) no-repeat center;
  background-size: cover;
  }
  div {
    text-align: center;

    .top {
      height: 24%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 45vw;
      }
    }
    .item-md{
    padding-left:0px;
    }
    .bottom {
      height: 64%;
      width:100%;
      padding:0px 18px !important;
      .buttons {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      p {
        color: #fff;
        font-size: 1.1em;
      }

      p.activated,
      p:active {
        color: $primary;
      }
      .item-ios{
       padding-left:0px !important;
      }
      button {
        width: 100%;
        height:55px;
      }

      button.facebook {
        background: $facebook;
      }

      button.facebook.activated,
      button.facebook:active {
        background: $facebook-active;
      }

      button.google {
        background: $google;
      }

      button.google.activated,
      button.google:active {
        background: $google-active;
      }

      button.secondary {
        background: $secondary;
      }

      button.secondary.activated,
      button.secondary:active {
        background: $secondary-active;
      }

      button.dark {
        background: $dark;
      }

      button.dark.activated,
      button.dark:active {
        background: $dark-active;
      }
      ion-input{
        background-color:rgba(0, 0, 0, 0.5);
        padding:10px;
      }
      .item-inner{
      padding-right:0px !important;
      }
      .form {
        width: 100%;
        height: 100%;

        p {
          width: 70vw;
          margin-left: auto;
          margin-right: auto;
        }

        ion-list {
          padding: 0;
          margin: 0 0 0.75em;

          ion-item {
            background: transparent;
            color: $primary;

            ion-label {
              text-align: left;
              width: 24vw;
            }

            ion-input {
              color: #fff;
            }
          }
        }

        button.clear {
          margin: 0;
          width: auto !important;
          background: transparent !important;
          float:right;
          height: 28px;;
        }

        button.clear.activated {
          color: $primary;
        }
      }
    }
  }
  .loginBox {
    // -webkit-box-shadow: 0 0 10px 0px #ccc;
    // box-shadow: 0 0 10px 0px #ccc;
    background: rgba(0, 0, 0, 0.50);;
    padding: 30px 10px 20px!important;
    margin: 10px 0 20px;
}
  .text-input {
    margin: 5px 0;
    padding:10px;
    background-color:#fff!important;
    border-bottom: 1px solid #777;
    font-size: 1.4rem;
    color:#000;
  }
  
  ion-input {background-color: transparent!important;}
  button.button {
    color: #fff;
    background-color: #007faf;
    width: 44%!important;
    font-size: 2rem;
    border-radius: 0!important;
    margin: 10px 0 0 !important;
  }
  .dark {color: #000!important;}
  .socials{
    display: flex;
    padding: 0 10px;
  }
  .socials a{
    width: 33.333%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .socials a img {
    height: 60%;
  }
  .socials a.fb {
    background: #3b559f;
  }
  .socials a.in {
    background: #0078b8;
    margin: 0 5px;
  }
  .socials a.tw {
    background: #03a9f4;
  }
  .or {
    text-align: center;
    padding: 20px 0 10px;
  }
  .or span {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #c94a38;
    color: #fff;
    border-radius: 50%;
    line-height: 50px;
    font-size: 1.8rem;
  }


.showPass {position:relative;
  .passwordIcon {position: absolute;top:19px;right: 10px;border:0px;}
}
.datetime-ios {
  background: #fff;
  margin: 5px 10px;
  padding: 10px;
  background-color: #fff !important;
  border-bottom: 1px solid #777;
  font-size: 1.4rem;
  width: 100%;
  text-align: left;
}
.datetime-ios .datetime-placeholder {
  color: #999;
  text-align: left;
}
.datetime-text {text-align: left;color:#000;}
.select {    
  background: #fff;
  margin: 15px 10px 5px;
  padding: 10px;
  background-color: #fff !important;
  border-bottom: 1px solid #777;
  font-size: 1.4rem;
  width: 100%;
  text-align: left;
}
.select-text {text-align: left;color:#000;}

}
