<ion-content>
  <div class="top">
    <img src="assets/imgs/logo.svg" >
  </div>
  <!-- Social Login Buttons -->
  <div class="bottom">
    <div class="form" *ngIf="mode == 'main'">
      <div>
         <form [formGroup]="emailPasswordForm">
          <ion-list class="loginBox">
              <div class="socials">
                <a class="fb" href="#"><img alt="" src="assets/imgs/facebook.svg"></a>
                <a class="in" href="#"><img alt="" src="assets/imgs/linkedin.svg"></a>
                <a class="tw" href="#"><img alt="" src="assets/imgs/twitter.svg"></a>
              </div>
              <div class="or">
                <span>OR</span>
              </div>
            <ion-item no-lines>
              <ion-input type="email" formControlName="email" placeholder="Email Address"></ion-input>
            </ion-item>
            <ion-item no-lines class="showPass">
                <ion-input placeholder="Password" [type]="passwordType" clearOnEdit="false" formControlName="password"></ion-input>  
                <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>   
              <!-- <ion-input type="password" formControlName="password" placeholder="Password"></ion-input> -->
            </ion-item>
            <button ion-button icon-left tappable (click)="login()" [disabled]="!emailPasswordForm.valid">SIGNIN</button>
          </ion-list>
        </form>
        <!-- <button ion-button  icon-left class="facebook" class="facebook" tappable (click)="loginProvider.facebookLogin()"><ion-icon name="logo-facebook"></ion-icon>LOGIN WITH FACEBOOK</button>
        <button ion-button icon-left class="google" class="google" tappable (click)="loginProvider.googleLogin()"><ion-icon name="logo-google"></ion-icon>LOGIN WITH GOOGLE</button>
        <button ion-button icon-left class="dark" tappable (click)="loginWithPhone()"><ion-icon name="md-call"></ion-icon>Signup with Phone</button> -->
        <p tappable (click)="clearForms(); mode = 'register'">New to Optigoo? <b>Sign up</b></p>
        <p tappable (click)="clearForms(); mode = 'forgotPassword'">Forgot your Password?</p>
      </div>
    </div>
    <!-- Sign Form -->
    <div class="form" *ngIf="mode == 'register'">
      <button class="clear clsbtn" ion-button icon-only tappable (click)="mode = 'main'">
        <ion-icon name="md-close"></ion-icon>
      </button>
      <form [formGroup]="registerForm">
          <ion-list class="loginBox">
            <ion-item no-lines>
              <ion-input type="text" formControlName="firstName" placeholder="First Name"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <ion-input type="text" formControlName="lastName" placeholder="Last Name"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <ion-input type="text" formControlName="city" placeholder="City"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <ion-input type="tel" formControlName="phone" placeholder="Phone Number"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <ion-input type="email" formControlName="email" placeholder="Email Address"></ion-input>
            </ion-item>
            <ion-item no-lines>             
              <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
            </ion-item>
            <ion-item no-lines>
                <ion-datetime #datePicker placeholder="DOB" displayFormat="DD/MM/YYYY" (ionCancel)="this.dataInicial  = null" formControlName="dob" doneText="Done" cancelText="Cancel" [max]="maxDate">
                </ion-datetime>
              </ion-item> 
              
               
              <ion-item no-lines>
                <!-- <ion-label>RelationShip Status</ion-label> -->
                <ion-select placeholder="RelationShip Status" formControlName="relationshipStatus">
                  <ion-option value="Married">Married</ion-option>
                  <ion-option value="Single">Single</ion-option>
                </ion-select>
              </ion-item>
            <button ion-button icon-left tappable (click)="register()" [disabled]="!registerForm.valid">SIGN UP</button>
          </ion-list>
          
        </form>
    </div>

    <!-- Forgot Password Form -->
    <div class="form" *ngIf="mode == 'forgotPassword'">
      <button class="clear icon-right" ion-button icon-right icon-only tappable (click)="clearForms(); mode = 'main'"><ion-icon name="md-close"></ion-icon></button>
      <form [formGroup]="emailForm">
        <ion-list class="loginBox">
          <ion-item no-lines>
            <ion-input type="email" formControlName="email" placeholder="Your Email Address"></ion-input>
          </ion-item>
          <button ion-button icon-left tappable (click)="forgotPassword()" [disabled]="!emailForm.valid">Reset Now</button>
        </ion-list>        
      </form>
    </div>
  </div>
</ion-content>
