page-product-list {
  .scroll-content {background: transparent;}
  ion-navbar {background-color: $toolbarbg2;}
  ion-list.avatar-list ion-item {
    background: transparent!important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  }
  .prodGrid {margin:0;}
  figure {margin:0;padding: 0;display: block;padding-right:0px;
  img {max-height: 70px; max-width: 70px;}
  }
  .prodInfo{
  .title {color:#222; white-space: normal;}
  .price {color:#222;font-weight: 500;margin-top: 5px;}
    .ratings {border:1px solid #ccc;padding:1px 5px;display: inline-block;border-radius:3px;margin-top:3px;font-size: 1rem;
      ion-icon{color: yellowgreen;margin-right: 5px;}
    }
  }
  ion-item {border-top: 0px!important;}
  .label-ios {
    margin: 0;
  }
}
