page-new-message {
h2 {color:#000!important}
.scroll-content {background: transparent;}
ion-navbar {background-color: $toolbarbg2;}
ion-list.avatar-list ion-item {
    background: transparent!important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}



}