<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons>
      <button ion-button tappable (click)="back()">Back</button>
    </ion-buttons>
    <ion-title>New Group</ion-title>
    <!-- New Group can only be added when a group form is filled up, image is uploaded, and there's more than one member. -->
    <ion-buttons end>
      <button ion-button tappable (click)="done()" [disabled]="!groupForm.valid  || groupMembers.length <= 1">Done</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="group">
    <!-- Set Group Image -->
    <img src="{{group.img}}" *ngIf="group.img != ''" tappable (click)="setGroupPhoto()" />
    <!-- <img src="assets/images/set.png" *ngIf="group.img == ''" tappable (click)="setGroupPhoto()" /> -->
    <!-- Group Form -->
    <div class="form">
      <form [formGroup]="groupForm">
        <ion-list>
          <ion-item no-lines>
            <ion-label>Group *</ion-label>
            <ion-input type="text" formControlName="name" placeholder="Name of Group"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-label>Description *</ion-label>
            <ion-textarea rows="4" formControlName="description" placeholder="Describe this Group"></ion-textarea>
          </ion-item>
          <!-- Members -->
          <ion-item no-lines *ngIf="groupMembers">
            <ion-label class="center">Group Members ({{groupMembers.length}})</ion-label>
          </ion-item>
          <div *ngIf="groupMembers" class="members">
            <img *ngFor="let member of groupMembers" src="{{member.img}}" tappable (click)="removeFromGroup(member)"/>
          </div>
        </ion-list>
      </form>
      <!-- No friends to create a group. -->
      <div class="empty" *ngIf="friends && friends.length == 0">
        <p>You have no friends right now to start a group conversation.</p>
        <button ion-button icon-left tappable (click)="searchPeople()"><ion-icon name="md-search"></ion-icon>Search People</button>
      </div>
      <!-- Show friends to add/remove to group. -->
      <ion-list class="avatar-list" *ngIf="friends && friends.length > 0">
        <ion-searchbar [(ngModel)]="searchFriend" placeholder="Search for friend or username" showCancelButton="true" cancelButtonText="Done"></ion-searchbar>
        <ion-item *ngFor="let friend of friends | friendFilter:searchFriend" no-lines tappable (click)="addOrRemoveFromGroup(friend)">
          <ion-fab middle right style="position: absolute; right: 0 ;">
            <button ion-fab mini tappable (click)="addToGroup(friend); $event.stopPropagation();" *ngIf="!inGroup(friend)"><ion-icon name="md-add-circle" class="success"></ion-icon></button>
            <button ion-fab mini tappable (click)="removeFromGroup(friend); $event.stopPropagation();" *ngIf="inGroup(friend)"><ion-icon name="md-close-circle" class="danger"></ion-icon></button>
          </ion-fab>
          <ion-avatar item-left>
            <img src="{{friend.img}}">
          </ion-avatar>
          <h2>{{friend.name}}</h2>
          <p>@{{friend.username}}</p>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
