page-profile {
  // .scroll-content{
  //    background:url('../assets/images/background.png') !important;
  //    }
   .profile {
     position: relative;
     overflow: hidden;
     height: 24vh;
     margin-bottom: -0.625em;
 
     img {
       width: 28vw;
       height: 28vw;
       border-radius: 100%;
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       margin: auto;
       object-fit: cover;
     }
 
     img.activated {
       opacity: 0.5;
     }
   }
 
   h4,
   p {
     text-align: center;
   }
 
   h4 {
     margin: 0;
     padding: 0;
     color: #000;
   }
 
   p.username {
     color: $primary;
     margin-bottom: -6px !important;
     margin-top: 6px !important;
     font-size: 115%;
   }
 
   p.description {
     width: 75vw;
     margin-left: auto;
     margin-right: auto;
   }
 
   p {
     color: #666;
   }
 
   h4 span.activated,
   p.activated {
     opacity: 0.5;
   }
 
   .divider {
     width: 12vw;
     border-bottom: solid 0.2em $primary;
     margin-left: auto;
     margin-right: auto;
   }
 
   ion-icon {
     color: #222;
     font-size: 1.4em;
   }
 
   ion-icon.facebook {
     color: $facebook;
   }
 
   ion-icon.google {
     color: $google;
   }
 
   ion-icon.firebase {
     color: $primary;
   }
 
   ion-list {
     margin-top: 1.125em !important;
 
     ion-item {
       background: transparent!important;
       color: #222 !important;
       border-top:1px solid rgba(0, 0, 0, 0.1) !important;
     }
 
     ion-item.activated {
       background:#fff !important;
       color: $primary !important;
     }
 
     ion-item.activated ion-icon {
       color: $primary;
     }
   }
   ion-navbar {background-color: $toolbarbg2;}
   .scroll-content { background-color:transparent;}
 }
 