<ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="user">
    <div class="profile">
      <img src="{{user.img}}" tappable (click)="setPhoto()" />
    </div>
    <!-- Show icon of logged in provider -->
    <h4>
      <span tappable (click)="setName()" class="username">{{user.name}} </span>
      <!-- <ion-icon name="md-flame" *ngIf="user.provider == 'Firebase'" class="firebase"></ion-icon> 
      <ion-icon name="logo-facebook" *ngIf="user.provider == 'Facebook'" class="facebook"></ion-icon>
      <ion-icon name="logo-google" *ngIf="user.provider == 'Google'" class="google"></ion-icon>-->
    </h4>
    <p tappable (click)="setUsername()" class="username">@{{user.username}}</p>
    <p tappable (click)="setDescription()" class="description">{{user.description}}</p>
    <!-- Profile Menu -->
    <ion-list>
      <ion-item no-lines tappable (click)="setName()">
        Set Profile Name
        <ion-icon name="md-contact" item-left></ion-icon>
      </ion-item>
      <ion-item no-lines tappable (click)="setUsername()">
        Set Username
        <ion-icon name="md-at" item-left></ion-icon>
      </ion-item>
      <ion-item no-lines tappable (click)="setDescription()">
        Set Description
        <ion-icon name="md-clipboard" item-left></ion-icon>
      </ion-item>
      <ion-item no-lines tappable (click)="setPhoto()">
        Set Profile Photo
        <ion-icon name="ios-camera" item-left></ion-icon>
      </ion-item>
      <!-- <ion-item no-lines tappable (click)="setEmail()">
        Change Email Address
        <ion-icon name="md-mail-open" item-left></ion-icon>
      </ion-item> -->
      <ion-item no-lines tappable (click)="updateContactNumber()">
        Change Phone number
        <ion-icon name="md-call" item-left></ion-icon>
      </ion-item>
      <ion-item no-lines tappable (click)="setPassword()" *ngIf="user && user.provider == 'Firebase'">
        Change Password
        <ion-icon name="md-key" item-left></ion-icon>
      </ion-item>
      <!-- <ion-item no-lines tappable (click)="reportedPost()" *ngIf="user && user.isAdmin == true">
        Reported Post
        <ion-icon name="md-book" item-right></ion-icon>
      </ion-item> 
      <ion-item no-lines tappable (click)="users()" *ngIf="user && user.isAdmin == true">
        User list
        <ion-icon name="md-book" item-right></ion-icon>
      </ion-item>
      <ion-item no-lines tappable (click)="sendfeedback()">
         href="mailto:nakulkundaliya12@com.com?Subject=SendFeedBack" target="_top"
        Send Feedback
        <ion-icon name="md-paper" item-right></ion-icon>
      </ion-item>
      <ion-item no-lines tappable (click)="deleteAccount()">
        Delete Account
        <ion-icon name="md-trash" item-right></ion-icon>
      </ion-item>-->
     
      <ion-item  no-lines tappable (click)="searchHistory()" *ngIf="user.history==true">Share
        <ion-icon name="share" item-left></ion-icon> 
    </ion-item> 
    <!-- <ion-item  no-lines tappable *ngIf="user.history!=true">Share
      <ion-icon name="share" item-left></ion-icon> 
  </ion-item>   -->

    <ion-item no-lines tappable (click)="walletAction()">Wallet
      <ion-icon name="card" item-left></ion-icon>  <!--span>500.00</span-->
    </ion-item>

    <ion-item no-lines tappable (click)="bankListAction()">Bank
      <ion-icon name="information-circle" item-left></ion-icon>  
    </ion-item>

    <ion-item no-lines>
      <ion-icon name="md-book" item-left></ion-icon> <ion-label>History</ion-label> 
      <ion-toggle [(ngModel)]="alertEvent" (ionChange)="alertEventChange()" item-right></ion-toggle>
    </ion-item>

    <!-- <ion-item no-lines tappable>Settings
        <ion-icon name="cog" item-left></ion-icon> 
    </ion-item> -->


      <ion-item no-lines tappable (click)="logout()">
        Logout
        <ion-icon name="md-log-out" item-left></ion-icon>
      </ion-item>
    </ion-list>
    <ion-item>
      
    </ion-item>
  </div>
</ion-content>