page-home {
.toolbar-title {color:#fff!important;}
ion-searchbar {background:$toolbarbg2!important;}
.searchbar-ios { padding:8px;}
ion-navbar {width:15%!important;display:inline-block!important;min-height:auto !important;margin-bottom: -15px;}
.searchbar-input {border-radius: 10px!important;height:50px!important;}
.searchbar-search-icon {top:16px!important;}
ion-navbar {background:$toolbarbg2;}
.segment-ios .segment-button {display: flex;flex-direction: column;height: auto;line-height: normal;background: #dc8406;color:#fff;max-width: 100%;
margin:5px 3px 0;padding: 5px 0;flex:0 0 31%;border-radius: 7px!important;border:0px;opacity: 1;}
.segment-ios .segment-button ion-icon {color:#fff;font-size: 2.6rem;}
.segment-ios .segment-button.segment-activated {background:#c94a38;}
ion-toolbar {min-height: 56px!important;}
.scroll-content { background-color:transparent;}
.header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0;
}

.productCat {list-style: none;display: flex;padding:0;margin:0;flex-wrap: wrap;border-top:1px solid #eaeaea;border-left:1px solid #eaeaea;
    li {width: 25%;display:flex;justify-content:flex-start;flex-direction:column;text-align:center;padding:10px 0 10px;border: 1px solid #eaeaea;  border-width: 0 1px 1px 0;
        img {width: 50%;margin: 0px auto 5px;}
        span {font-size:1rem;text-align: center;}
    }

}

.wrp {background: #fff;margin:-10px -15px 0;padding:10px;}







}
