<ion-header>
 <form (ngSubmit)="show()">

 
  <ion-searchbar mode="md" name="something" #searchbar showCancelButton="true" placeholder="Search" [(ngModel)]="searchKeyword" 
  (ionInput)="onSearchByKeyword($event)" (ionCancel)="onSearchByKeywordCancel($event)" debounce="1000">
</ion-searchbar>
</form>

<ion-toolbar no-border-top>
  <ion-segment [(ngModel)]="homeseg">
    <ion-segment-button value="shop">
      <ion-icon name="cart"></ion-icon>
      Shop
    </ion-segment-button>    
    <ion-segment-button value="favourites">
      <ion-icon name="heart"></ion-icon>
      Favourites
    </ion-segment-button>
    <ion-segment-button value="notifications">
      <ion-icon name="notifications"></ion-icon>
      Notifications
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="homeseg">
    <ion-list *ngSwitchCase="'shop'">
      <div class="wrp">
        <ul class="productCat">
          <li (click)="goToProductPage('mobile')"><img src="./assets/imgs/mobile-01.svg"><span>Mobiles & <br>Tablets</span></li>
          <li (click)="goToProductPage('Laptops-Perpherals')"><img src="./assets/imgs/laptop-01.svg"><span>Laptops & <br>Perpherals</span></li>
          <li (click)="goToProductPage('Electronics')"><img src="./assets/imgs/tv-01.svg"><span>TV & <br>Entertainment</span></li>
          <li (click)="goToProductPage('Appliance-Kitchen')"><img src="./assets/imgs/kitchen-01.svg"><span>Home & <br>Kitchen</span></li>
          <li (click)="goToProductPage('Cameras-DSLRs')"><img src="./assets/imgs/camera-01.svg"><span>Cameras & <br>DSLRs</span></li>
          <li (click)="goToProductPage('Gym-Health')"><img src="./assets/imgs/health-01.svg"><span>Personal <br>& Health</span></li>
          <li (click)="goToProductPage('Cosmetics')"><img src="./assets/imgs/cosmetics-01.svg"><span>Cosmetics</span></li>
          <li (click)="goToProductPage('dress')"><img src="./assets/imgs/garments-01.svg"><span>Garments</span></li>
        </ul>
      </div>    
    </ion-list>    

    <ion-list *ngSwitchCase="'favourites'">
      <ion-item>
        <h1>Favourites</h1>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'notifications'">
      <ion-item>
        <h1>Notifications</h1>
      </ion-item>
    </ion-list>
  </div>
  
</ion-content>
