page-groups {
  ion-col {
    float: left !important;
  }

  .bold {
    font-weight: bold;
  }

  div.group {
    text-align: center;
    background:rgba(252, 252, 252, 0.6);
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0 1px 1px #bbcad0;

    img {
      margin-top: 1.25em;
      border-radius: 100%;
      width: 7em;
      height: 7em;
      object-fit: cover;
    }

    img.activated,
    img:active {
      opacity: 0.5;
    }

    ion-badge {
      position: absolute;
      top: 1em;
      right: 3.5em;
    }

    p,
    span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0;
      margin: 0;
      padding-left: 0.75em;
      padding-right: 0.75em;
    }

    p {
      margin-top: 0.5em;
      margin-bottom: 0.2em;
      color: $primary;
      font-size: 100%;
      display: block;
    }

    span {
      color: $gray;
      font-size: 90%;
      display: block;
      padding-bottom: 1.25em;
    }
  }

  div.group.activated,
  div.group:active {
    opacity: 0.5;
  }

  h2 {color:#000!important}
  .scroll-content {background: transparent;}
  ion-navbar {background-color: $toolbarbg2;}
  ion-list.avatar-list ion-item {
      background: transparent!important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  }
}
