page-group {
	
		
//Background of the screens
// .scroll-content {
// background-image: url('../assets/images/background.png');

//   background-position: initial initial;
//   background-repeat: initial initial;
// }
.item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left], .item-ios ion-avatar[item-start], .item-ios ion-thumbnail[item-start]{
	margin: 8px 0px 8px 0px;
}
.scroll-content {background: transparent;}
h2 {color:#000!important}
ion-navbar {background-color: $toolbarbg2;}
ion-list.avatar-list ion-item {
    background: transparent!important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}
div.messages .system span {color: #666;padding:10px 0;}
div.messages ion-col span {color: #c6c6c6;}
}