page-friends {
	.hr {
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }
    .list-ios{
        margin: -1px 0 12px;
    }
    .item-ios ion-avatar img {object-fit: cover;}
    .scroll-content {background: transparent;}
    h2 {color:#000!important}
    ion-navbar {background-color: $toolbarbg2;}
    ion-list.avatar-list ion-item {
        background: transparent!important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    }
    ion-segment {padding: 8px;}
}