page-messages {
  ion-item span {
    color: #222;
    font-size: 75%;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 0.75em;
    padding-top: 0.40em;
  }
  .item-ios ion-avatar img {object-fit: cover;}
  ion-badge {
    float: right;
  }
  h2 {color:#000!important}

  div.bold {
    h2 {
      font-weight: bold !important;
    }
    font-weight: bold;
  }
  .scroll-content {background: transparent;}
  ion-navbar {background-color: $toolbarbg2;}
  ion-list.avatar-list ion-item {
    background: transparent!important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  }
  
}
