page-product-details {
    ion-navbar {background-color: $toolbarbg2;}
    ion-list.avatar-list ion-item {
      background: transparent!important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    }
    ion-slides {height:270px;}
    .swiper-slide img {height: 200px;}
    ion-label {margin:11px!important;}
    .ratnum {display: inline-block;vertical-align: top;font-size: 2.3rem;color:#000;}
    ul.rating {margin: 0; padding: 0; display: inline-block;
      li { padding: 5px 3px!important;
        ion-icon {color: yellowgreen;}
      } 
    }
    h5 {text-transform: uppercase;font-size:1.2rem!important;font-weight: 600!important;margin: 0 0 10px!important;}
    .bprice {font-size: 2.3rem;font-weight: bold; color:#0e7fb0;}
    .colors {padding: 0;margin: 0;list-style: none;
      li {display: inline-block;border:1px solid #ccc;padding: 2px 5px;margin: 0 5px 0 0;font-size: 1.3rem;}
    }
    .pp {font-size: 1.4rem;font-weight: bold;margin-top: -5px;display: block;padding-left: 5px;}
    .btn {background: #0e7fb0;color: #fff;font-size: 1rem;padding: 8px 10px;border-radius: 4px;
      text-decoration: none;display: block;text-transform:uppercase;
    span {display: block;font-size: 1.1rem;}
    }
    .shareBtn {height: 2.6em;}
}
