<!--
  Generated template for the ProductDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Product Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content> 
  
  <ion-slides pager padding>
      <ion-slide *ngFor="let productImage of images">
          <img src="{{productImage}}" height="250px">
      </ion-slide>        
  </ion-slides>      
  
  <ion-item no-padding>
    <ion-label>{{productName}}</ion-label>   
  </ion-item>
  <ion-item no-padding>    
    <ion-label class="bprice"> Rs. {{product_mrp}}</ion-label>    
  </ion-item>
  <ion-item no-padding>
  <p class="ratnum">{{product_ratings}}</p>

  <rating [(ngModel)]="product_ratings" 
        readOnly="true" 
        max="5" 
        emptyStarIconName="star-outline" 
        halfStarIconName="star-half" 
        starIconName="star" 
        nullable="false">
    </rating>
  </ion-item>
  
  
  <ion-item no-padding >
    <h5>Available Colors</h5>
    <ul class="colors">
      <li *ngFor="let productColor of colors">
        <span *ngIf="productColor">{{productColor}}</span>
      </li>
    </ul>
  </ion-item>



  <ion-item no-padding>
    <h5>Available Stores</h5>
    <ion-grid *ngIf="amazonLink">
      <ion-row align-items-center>
        <ion-col col-3><img src="{{amazonImg}}" ></ion-col>
        <ion-col col-3><span class="pp">Rs. {{amazon_product_price}}</span></ion-col>
        <ion-col col-4><a class="btn" href="{{amazonLink}}">Open <span>{{amazon_product_store}}</span></a></ion-col>
        <ion-col col-2><button ion-button class="shareBtn" (click)="whatsappShare(amazonLink)">
                        <ion-icon name="md-share"></ion-icon></button>
        </ion-col>
      </ion-row>      
    </ion-grid>

    <ion-grid *ngIf="flipkartLink">
      <ion-row align-items-center>
        <ion-col col-3><img src="{{flipkartImg}}" ></ion-col>
        <ion-col col-3><span class="pp">Rs. {{flipkart_product_price}}</span></ion-col>
        <ion-col col-4><a class="btn" href="{{flipkartLink}}">Open <span>{{flipkart_product_store}}</span></a></ion-col>
        <ion-col col-2><button ion-button class="shareBtn" (click)="whatsappShare(flipkartLink)">
                        <ion-icon name="md-share"></ion-icon></button>
        </ion-col>
      </ion-row>      
    </ion-grid>

    <ion-grid *ngIf="snapdealLink">
      <ion-row align-items-center>
        <ion-col col-3><img src="{{snapdealImg}}" ></ion-col>
        <ion-col col-3><span class="pp">Rs. {{snapdeal_product_price}}</span></ion-col>
        <ion-col col-4><a class="btn" href="{{snapdealLink}}">Open <span>{{snapdeal_product_store}}</span></a></ion-col>
        <ion-col col-2><button ion-button class="shareBtn" (click)="whatsappShare(snapdealLink)">
                        <ion-icon name="md-share"></ion-icon></button>
        </ion-col>
      </ion-row>      
    </ion-grid>

  </ion-item>

  
 
</ion-content>