<!--
  Generated template for the WalletPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>My Wallet</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div class="profileImage">
  <div class="imgWrap">
    <ion-avatar>
      <img src="{{images}}" alt="">
    </ion-avatar> 
  </div>
</div>
<div class="money">
  <h5>Your Credit</h5>
  <h1>1500.00</h1>
  <button ion-button round (click)="selectBank()">WITHDRAWL REQUEST</button>
</div>

<ion-card>
    <ion-grid>
        <ion-row>
          <ion-col col-11>
              <ion-card-header>
                  Search Link: http://abc.com/xyz=?
                </ion-card-header>
              
                <ion-card-content>
                  <div class="searchLink">Date: 12-05-2019</div>
                  <div class="date">Earn Money: 250.00</div>
                </ion-card-content>
          </ion-col>
          <ion-col col-1 class="options">    
                <ion-icon name="more"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>

  <ion-card>
      <ion-grid>
          <ion-row>
            <ion-col col-11>
                <ion-card-header>
                    Search Link: http://abc.com/xyz=?
                  </ion-card-header>
                
                  <ion-card-content>
                      <div class="searchLink">Date: 12-05-2019</div>
                      <div class="date">Earn Money: 50.00</div>
                  </ion-card-content>
            </ion-col>
            <ion-col col-1 class="options">    
                  <ion-icon name="more"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>
