<!--
  Generated template for the ProductListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Search History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-list *ngFor="let product of productList" class="prodGrid">
<ion-item no-padding (click)="goToDetails(product.search_product_id)">
    <ion-grid>
    <ion-row >
      <ion-col col-3>
          <figure><img src="{{product.search_product_image}}"></figure>
      </ion-col>
      <ion-col col-9>
          <div class="prodInfo">
            <p class="title">{{product.search_product_name}}</p>
            <!-- <p>{{product.product_id}}</p> -->
            <p class="price">Rs.{{product.search_product_mrp}}</p>
            <p class="ratings"><ion-icon name="ios-star"></ion-icon>{{product.search_product_rating}}</p>
          </div>
      </ion-col>
    </ion-row>
    </ion-grid>    
</ion-item>
</ion-list>
</ion-content>
